<link rel="stylesheet" href="../sourse/css/form.css">
<div class="grad-fon">
   <form class="box" method="post" onsubmit="SandForm(this); return false;">
         <h1>Регистрация</h1>
      <input class="btn" type="text" name="name" placeholder="name">
      <input class="btn" type="text" name="lastname" placeholder="lastname">
      <input class="btn" type="email" name="email" placeholder="Email">
      <p class="text-danger" id="info" hidden>такой пользователь уже сузествует </p>
      <input class="btn" type="password" name="pass" placeholder="Password">
      <input class="button" type="submit" name="" value="Авторизация">
   </form>
</div>
<script>
   let info = document.getElementById('info');
   // formdata
   // можно обратить ся к форме с помощью id, написав document.getElementById.
   // или можно написать в onsubmit "this" и функция вызовет сама форма
   function SandForm(form) {
      info.hidden = true;
      console.log('Отправка формы');
      const formData = new FormData(form);
      fetch('/Reg', {
         method: "POST",
         body: formData
      }).then(response => response.json())
         .then(result => {
            if (result.result == "success") {
               window.location.href = "login";
            } else {
               info.hidden = false;
            }
         })
   }
</script>